<v-container>
  <v-card height="100%" flat>
    <!--ドロップダウン-->
    <v-layout row wrap id="dropdown" grid-list-xl>
      <v-flex xs12 sm4>
        <v-select
          :items="prefectures"
          v-model="selectedPrefecture"
          item-text="areaName"
          label="エリア選択"
          @change="onSetArea"
          return-object
        ></v-select>
      </v-flex>

      <v-flex xs12 sm8></v-flex>
      <v-flex xs12>
        <v-card color="grey darken-2">
          {{ cityWeather.description}}
        </v-card>
      </v-flex>

      <!--テーブルの中に天気帯を仕込む-->
      <v-flex xs12>
        <WeeklyWeatherCard>
        </WeeklyWeatherCard>
      </v-flex>
    </v-layout>

  </v-card>
</v-container>
