<v-container>
  <v-card height="100%" flat>

    <!--ドロップダウン-->
    <v-layout row wrap id="dropdown-example" grid-list-xl>
      <v-flex xs12 sm6>
        <v-select
          :items="prefectures"
          v-model="selectedPrefecture"
          item-text="areaName"
          label="広域エリア"
          return-object
        ></v-select><!--オブジェクトを返す時は明示的に宣言する-->
      </v-flex>

      <v-flex xs12 sm6>
        <v-select
          :items="selectedPrefecture.cities"
          item-text="cityName"
          label="小規模エリア"
          v-model="selectedCity"
          @change="onSetCloseArea"
          return-object
        ></v-select>
      </v-flex>
    </v-layout>

    <!--コンテンツ-->
    <v-layout row wrap grid-list-xl>
      <v-flex xs12 sm4 v-for="weatherInfo in weatherInfoList" :key="weatherInfo.dateLabel">
        <!--データ構造体を渡す-->
        <WeatherCard
          :weatherInfo="weatherInfo"
        ></WeatherCard>
      </v-flex>
    </v-layout>

    <!--概況ボタン-->
    <div class="text-xs-center">
      <v-dialog
        v-model="dialog"
        width="650"
      >
        <template v-slot:activator="{ on }">
          <v-btn
            color="red lighten-2"
            dark
            v-on="on"
          >
            詳細
          </v-btn>
        </template>

        <v-card>
          <v-card-title
            class="headline grey darken-2"
            primary-title
          >
            天気概況
          </v-card-title>

          <v-card-text>
            {{ weatherSummary }}
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>

  </v-card>
</v-container>

