<div>
  <form>
    <button @click="addTodo()">ADD TASK</button>
    <button @click="removeTodo()">DELETE FINISHED TASKS</button>
    <p>input: <input type="text" v-model="newTodo"></p>
    <p>task: {{ newTodo }}</p>
  </form>
  <div class="task-list">
    <label class="task-list__item"
           v-for="todo in todos"
           v-bind:class="{ 'task-list__item--checked': todo.done }">
      <input type="checkbox" v-model="todo.done">
      <input type="checkbox" v-model="todo.editing">
      <input v-if="todo.editing" v-model="todo.text" @keyup.enter="todo.editing = !todo.editing">
      <span v-else>{{ todo.text }}</span>
    </label>
  </div>
</div>
