<!--<div>-->
<!--<img src="../../assets/logo.png">-->
<!--<h1>{{ title }}</h1>-->
<!--</div>-->
<v-toolbar
  color="red"
  dense
  fixed
  clipped-left
  app
  hide-overlay="false"
>
  <!--<v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>-->
  <v-toolbar-side-icon @click.stop="menuChange"></v-toolbar-side-icon>
  <!--<v-icon class="mx-3">fa-youtube</v-icon>-->
  <v-toolbar-title class="mr-5 align-center">
    <!--<img src="../../assets/logo.png">-->
    <span class="title">{{ title }}</span>
  </v-toolbar-title>
  <v-spacer></v-spacer>
</v-toolbar>
