<v-container>
  <v-card height="100%" flat>
    <!--ドロップダウン-->
    <v-layout row wrap id="dropdown" grid-list-xl>
      <v-flex xs12 sm4>
        <v-select
          :items="prefectures"
          v-model="selectedPrefecture"
          item-text="areaName"
          label="エリア選択"
          @change="onSetArea"
          return-object
        ></v-select>
      </v-flex>


      <!--テーブルの中に天気帯を仕込む-->
      <v-flex xs12>

        <!--テーブル化したいところ-->
        <v-data-table
          :headers="headers"
          :items="weeklyWeather"
        >
          <template v-slot:items="props">
            <td>{{ props.item.location }}</td>
            <td><img src="">{{ props.item.today }}</td>
            <td>{{ props.item.twoDay }}</td>
          </template>
        </v-data-table>

      </v-flex>


      <!--概況文-->
      <v-flex xs12>
        <v-card color="grey darken-2">
          {{ cityWeather.description}}
        </v-card>
      </v-flex>
    </v-layout>

  </v-card>
</v-container>
